target
test-output
src/test/resources/drivers/*
**/.~lock*

.project
.classpath
.settings
.idea
.log
.DS_Store
/target
src/test/resources/Profile_Stage2/*
src/test/resources/Profile_Stage3/*
src/test/resources/Profile_Stage4/*