<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ACS Tests" preserve-order="true" thread-count="1"  configfailurepolicy="continue">
	<test name="ACS Create Member Test"
		group-by-instances="true">
		<classes>
			<class name="com.qait.tests.ACS_Create_Member_Test"></class>
		</classes>
	</test>
</suite>